<!-- 登录 -->
<div class="login">
    <div class="login-wrap">
        <div class="avatar">
            <img ng-src="{{ userInfo.tc_avatar }}" class="img-circle" alt="">
        </div>
        <form ng-submit="login()" class="col-xs-offset-1 col-xs-10">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input ng-model="user.tc_name" type="text" class="form-control" placeholder="用户名">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input ng-model="user.tc_pass" type="password" class="form-control" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
        </form>
    </div>
</div>
    