<!-- 侧边栏 -->
<ngl-aside></ngl-aside>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <ngl-header></ngl-header>
        <div class="body teacher">
            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li><a href="javascript:;">讲师管理</a></li>
                <li class="active">讲师添加</li>
            </ol>
            <div class="teacher-add">
                <form action="" class="form-horizontal col-xs-offset-2">
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">姓名</label>
                        <div class="col-xs-4">
                            <input name="" type="text" class="form-control input-sm" placeholder="讲师名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">密码</label>
                        <div class="col-xs-4">
                            <input name="" type="password" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">入职时间</label>
                        <div class="col-xs-4">
                            <input name="" type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">类型</label>
                        <div class="col-xs-2">
                            <select name="" class="form-control input-sm">
                                <option value="">讲师</option>
                                <option value="">管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">性别</label>
                        <div class="col-xs-4">
                            <label class="radio-inline">
                                <input name="" type="radio" checked> 男
                            </label>
                            <label class="radio-inline">
                                <input name="" type="radio"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-7">
                            <button type="submit" class="btn btn-success btn-sm pull-right">添 加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>