<!-- 侧边栏 -->
<ngl-aside></ngl-aside>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <ngl-header></ngl-header>
        <div class="body course-category">
            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li><a href="javascript:;">课程管理</a></li>
                <li class="active">课程分类</li>
            </ol>
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="18%">分类名称</th>
                            <th>课程数量</th>
                            <th>是否显示</th>
                            <th>排序</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td class="text-left">前端开发</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ HTML/CSS</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ Javascript</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ 移动Web</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-left">后端开发</td>
                            <td>14</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ NodeJS</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ PHP</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-left">数据库</td>
                            <td>18</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├ Mysql</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├  MongoDB</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├  Oracle</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-left">云计算&大数据</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├  大数据</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├  云计算</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="text-left">视觉设计</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;&nbsp;├  Photoshop</td>
                            <td>12</td>
                            <td>是</td>
                            <td>10</td>
                            <td>
                                <a href="./edit.html" class="btn btn-info btn-xs">编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
