<!-- 侧边栏 -->
<ngl-aside></ngl-aside>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <ngl-header></ngl-header>
        <!-- 客户列表 -->
        <div class="body course-list">
            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li><a href="./course_edit_step1.html">课程管理</a></li>
                <li class="active">课程列表</li>
            </ol>
            <div class="courses">
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_1.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">html,div+css视频教程(2014最新,带多个企业级项目实战)</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_2.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">JavaScript 基础</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_3.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">App开发从0到1</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_4.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">Java 从入门到精通</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_1.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">html,div+css视频教程(2014最新,带多个企业级项目实战)</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course">
                    <div class="pic">
                        <img src="./uploads/course_3.jpg" alt="">
                    </div>
                    <div class="info">
                        <a href="./course_edit_step1.html">App开发从0到1</a>
                        <ul class="list-unstyled">
                            <li>
                                <span>讲师：李鹏周</span>
                                <span>类别：前端开发</span>
                            </li>
                            <li>
                                <span>课时：32</span>
                                <span>学员：9823</span>
                            </li>
                            <li>
                                <span>浏览：11313</span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
