<!-- 侧边栏 -->
<ngl-aside></ngl-aside>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <ngl-header></ngl-header>
        <div class="body course-add">
            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li><a href="javascript:;">课程管理</a></li>
                <li class="active">课程添加</li>
            </ol>
            <div class="steps create">
                <div class="title">
                    <h5>创建课程 <small>CREATE A COURSE</small></h5>
                </div>
                <form action="" class="form-horizontal col-xs-7">
                    <div class="form-group">
                        <label for="" class="col-xs-2 control-label">课程标题</label>
                        <div class="col-xs-9">
                            <input name="" type="text" class="form-control input-sm" placeholder="请填写课程标题">
                        </div>
                    </div>
                    <div class="col-xs-11">
                        <a href="./course_edit_step1.html" class="btn btn-success btn-sm pull-right">创建课程</a>
                    </div>
                </form>
                <div class="extra col-xs-3">
                    <h5>从视频专辑导入课程</h5>
                    <p>已支持优酷、腾讯视频、网易公开课、爱奇艺教育的视频专辑导入。</p>
                </div>
            </div>
        </div>
    </div>
</div>

